.navbar-brand {
	text-shadow: 2px 1px 1.8px #0000002b;
}

.app-nav-link:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.app-nav-link:active {
	background-color: rgba(0, 0, 0, 0.15);
}

.app-nav-link.active {
	background-color: rgba(0, 0, 0, 0.1);
}

.app-nav-link.active:hover {
	background-color: rgba(0, 0, 0, 0.15);
}

.app-nav-link.active:active {
	background-color: rgba(0, 0, 0, 0.2);
}