dialog {
	width: 600px;
	height: 200px;
	border-radius: 4px;
	border: 1px solid grey;
}

dialog:focus-visible {
	outline: none;
}

@keyframes raise {
	from {
		top: 30px;
	}
	to {
		top: 0px;
	}
}

dialog[open] {
	animation: raise 0.2s  ease-out forwards;
}

@keyframes backdrop-fade {
	from {
		background-color: transparent;
	}
	to{
		background-color: rgba(0, 0, 0, 0.3);
	}
}

dialog[open]::backdrop {
	animation: backdrop-fade 0.2s  ease-out forwards;
}
