#warehouse-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#warehouse-stats {
	border-radius: 4px;
	background-color: #ededed;
	padding: 10px;
	text-align: center;
}

#stat-list {
	font-size: 11;
	display: flex;
	justify-content: space-between;
}

.app-row {
	display: flex;
}

.app-row.header {
	font-weight: 600;
}

.app-row.body {
	background: #e4f5ed;
    border-radius: 4px;
    padding: 0px 2px;
}

.app-cell {
	flex-basis: 0;
	flex-grow: 10;
	padding: 3px 10px;
}

.app-cell.id {
	flex-grow: 0;
	min-width: 40px;
}

.app-cell.name {
	flex-grow: 17;
}

.app-cell.from-to {
	flex-grow: 12;
}